<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.boardgamer_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity_past_evening_details"
                  android:label="Vergangener Termin"></activity>
        <activity android:name=".Activity_vergangene_termine"
                  android:label="Vergangene Termine"/>
        <activity android:name=".Activity_evening_details"
                  android:label="Termin"/>
        <activity
            android:name=".Activity_login"
            android:label="OnBoard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_anstehende_termine"
            android:label="Anstehende Termine" />
        <activity android:name=".Activity_create_group" />
        <activity
            android:name=".Main6Activity"
            android:label="Benutzereinstellungen" />
        <activity
            android:name=".Main5Activity"
            android:label="Benachrichtigungseinstellungen" />
        <activity
            android:name=".Main4Activity"
            android:label="Gruppeneinstellungen" />
        <activity
            android:name=".Main3Activity"
            android:label="Einstellungen" />
        <activity android:name=".Main2Activity"
            android:label="Nachrichten"/>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Activity_register"
            android:label="Registrieren" />
    </application>

</manifest>